<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Me Tutoring Service</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Me Tutoring Service</a>

          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            {{#if loggedIn}}
              <li><a href="/login" id="logout">Log Out</a></li>
            {{else}}
              <li><a href="/login">Login</a></li>
              <li><a href="/create-account">Create Account</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>

      {{{ body }}}

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>