<div class="container row center">
    <div class="col s5 login-section left">
        <form class="student-form">
            <div class="row">
                <div class="col s12">
                    <h3>Create Student Account</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <input id="student-firstname" class="white-text" placeholder="First Name"></input>
                </div>
                <div class="col s6">
                    <input id="student-lastname" class="white-text" placeholder="Last Name"></input>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input id="student-email" class="white-text" placeholder="Email"></input>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input id="student-password" class="white-text" placeholder="Password" type="password"></input>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input id="student-verify" class="white-text" placeholder="Verify Password" type="password"></input>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button type="submit" class="btn">Create Account as Student</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col s5 login-section right">
        <form class="tutor-form">
            <div class="row ">
                <div class="col s12">
                    <h3>Create Tutor Account</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <input id="tutor-firstname" class="white-text" placeholder="First Name"></input>
                </div>
                <div class="col s6">
                    <input id="tutor-lastname" class="white-text" placeholder="Last Name"></input>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input id="tutor-email" class="white-text" placeholder="Email"></input>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input id="tutor-password" class="white-text" placeholder="Password" type="password"></input>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input id="tutor-verify" class="white-text" placeholder="Verify Password" type="password"></input>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button type="submit" class="btn">Create Account as Tutor</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row center">
        <img class="login-section" src="/images/sign-Up.png" alt="tutoring service">
    </div>
    <script src="/javascript/create-account.js"></script>