<div class="container white-text">
    <div class="col s12">
        <div class="row login-section">
            <h1 class="center">Welcome to Me Tutoring Service</h1>
        </div>

        <div class="row login-section">
            <div class="col s12">
                <h3 class="center">
                    Have you ever had an issue finding a good tutor? Look no further, 
                    Me Tutoring Services is here to help. For our project we wanted to 
                    create a web application on tutoring services.
                    It provides information on tutor description, review and price.
                </h3>
            </div>
        </div>

        <div class="row center">
            <img class="login-section" src="/images/Tutoring_Services_2.png" alt="tutoring service">
        </div>
    </div>
</div>