<div class="container">
    <div class="col s12">
        <div class="row login-section">
            <h1 class="center">Welcome to ME Tutoring Service</h1>
        </div>

        <div class="row login-section">
            <div class="col s12">
                <h5 class="center">
                    Have you ever had an issue finding a good tutor? Look no further, 
                    Me Tutoring Services is here to help. For our project we wanted to 
                    create a web application on tutoring services.
                    It provides information on tutor description, review and price.
                </h5>
            </div>
        </div>

        <div class="row center">
         <img class="create-section" src="/images/virtual-tutoring.png" alt="tutoring service">  
    </div>
</div>