<div class="container row">
    <div class="col s6">
        <form class="student-form">
            <div class="row">
                <div class="col s12">
                    <h3>Login as Student</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input id="student-email" placeholder="Email"></input>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input id="student-password" placeholder="Password" type="password"></input>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button type="submit" class="btn">Login as Student</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col s6">
        <form class="tutor-form">
            <div class="row">
                <div class="col s12">
                    <h3>Login as Tutor</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input id="tutor-email" placeholder="Email"></input>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input id="tutor-password" placeholder="Password" type="password"></input>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button type="submit" class="btn">Login as Tutor</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/javascript/login.js"></script>