* {
    box-sizing: border-box;
  }

.nav-bar {
    background-color:sienna;
    text-align: left;

}

.container-row{
color:whitesmoke
}

.login-section {
    background-color: black;
    opacity: 80%;
    color: sienna;
    border: 5px solid gray;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    height:auto;
    width: auto; 
    
     
}
.update-form label{
 font-size:large;
 color:sienna;
}

.dashboard-section{
    background-color: black;
    opacity: 80%;
    color: sienna;
    border: 5px solid gray;
    margin: 20px; 
    padding: 0px 30px 0px 30px;
    border-radius: 20px;
    font-size: larger;
    
}


.tutor-profile{
    background-color:black;
    opacity: 80%;
    color:sienna;
    border: 5px solid gray;
    margin: 20px; 
    padding: 0px 30px 0px 30px;
    border-radius: 15px;  
        
}
.tutor-profile p{
    font-size: large;
    color: white;
}
.tutor-profile h3{
    font-size: xx-large;
}
.create-section{
    background-color: black;
    opacity: 80%;
    color:sienna;
    border: 5px solid gray;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    height:auto;
    width: auto; 
}

.home-section p{

    opacity:100%;
   
    margin: 20px;    
}

